<FilesMatch "\.(jpg|avif)$">
Header set Cache-Control "max-age=2419200, public"
Header always set "Cross-Origin-Resource-Policy" "same-site"
</FilesMatch>
<FilesMatch "\.avif$">
ForceType image/avif
</FilesMatch>