<FilesMatch "\.(png|gif|jpg|webp)$">
Header set Cache-Control "max-age=2419200, public"
Header always set "Cross-Origin-Resource-Policy" "same-site"
</FilesMatch>
<FilesMatch "perret2.jpg$">
Header always set "Cross-Origin-Resource-Policy" "cross-origin"
</FilesMatch>   
