RewriteEngine on
RewriteCond %{HTTP_HOST} ^ericperrets.info$
RewriteRule ^(.*)$ https://www.ericperrets.info/$1 [R=301]

ServerSignature Off

AddType text/cache-manifest .appcache

RewriteBase /
RewriteCond %{HTTP:Accept-encoding} br
RewriteCond %{REQUEST_FILENAME}\.br -s
RewriteRule (.*) $1.br [L,QSA]

RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule (.*) $1.gz [L,QSA]

ExpiresActive on
ExpiresByType image/jpg "access plus 7 days"
ExpiresByType image/jpeg "access plus 7 days"
ExpiresByType image/gif "access plus 7 days"
ExpiresByType image/png "access plus 7 days"
ExpiresByType text/html "access plus 7 days"
ExpiresByType text/css "access plus 7 days"
ExpiresByType image/x-icon "access plus 7 days"
ExpiresByType image/svg+xml "access plus 7 days"
ExpiresByType application/x-javascript "access plus 7 days"
ExpiresByType text/javascript "access plus 7 days"
ExpiresByType application/javascript "access plus 7 days"

<FilesMatch "\.js\.gz$">
AddEncoding x-gzip .gz
Header set Content-Encoding: gzip
Header set Vary "Accept-Encoding"
AddDefaultCharset utf-8
ForceType text/javascript
</FilesMatch>

<FilesMatch "\.js\.br$">
AddEncoding br .br
Header set Content-Encoding: br
Header set Vary "Accept-Encoding"
AddDefaultCharset utf-8
ForceType text/javascript
</FilesMatch>

<FilesMatch "\.css\.gz$">
AddEncoding x-gzip .gz
Header set Content-Encoding: gzip
Header set Vary "Accept-Encoding"
AddDefaultCharset utf-8
ForceType text/css
</FilesMatch>

<FilesMatch "\.css\.br$">
AddEncoding br .br
Header set Content-Encoding: br
Header set Vary "Accept-Encoding"
AddDefaultCharset utf-8
ForceType text/css
</FilesMatch>

<FilesMatch "\.html\.gz$">
AddEncoding x-gzip .gz
Header set Content-Encoding: gzip
ForceType text/html
</FilesMatch>

<FilesMatch "\.html\.br$">
AddEncoding br .br
Header set Content-Encoding: br
ForceType text/html
</FilesMatch>

<FilesMatch "\.html">
Header set Link "<https://fonts.googleapis.com>; rel=preconnect, <https://fonts.gstatic.com>; rel=preconnect; crossorigin"
Header always set "X-UA-Compatible" "IE=edge"
Header always append X-Frame-Options DENY
Header set Vary "Accept-Encoding"
Header always set Content-Security-Policy "default-src 'none'; script-src 'self' https://www.google-analytics.com; style-src 'self' https://fonts.googleapis.com; connect-src 'self'; img-src data: 'self' https://www.google-analytics.com; font-src data: https://fonts.gstatic.com; frame-src https://www.youtube-nocookie.com"
AddDefaultCharset utf-8
</FilesMatch>

<FilesMatch "\.ico\.gz$">
AddEncoding x-gzip .gz
Header set Content-Encoding: gzip
Header set Vary "Accept-Encoding"
Header set Cache-Control "max-age=604800,public"
ForceType image/x-icon
</FilesMatch>

<FilesMatch "\.ico\.br$">
AddEncoding br .br
Header set Content-Encoding: br
Header set Vary "Accept-Encoding"
Header set Cache-Control "max-age=604800,public"
ForceType image/x-icon
</FilesMatch>

Header always set "X-Xss-Protection" "1; mode=block"
Header always set "X-Content-Type-Options" "nosniff"