RewriteEngine on
RewriteCond %{HTTP_HOST} ^ericperrets.info$
RewriteRule ^(.*)$ https://www.ericperrets.info/$1 [R=301]

ServerSignature Off

RewriteBase /
RewriteCond %{HTTP:Accept-encoding} br
RewriteCond %{REQUEST_FILENAME}\.br -s
RewriteRule (.*) $1.br [L,QSA]

RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule (.*) $1.gz [L,QSA]

ExpiresActive on
Header set Cache-Control "max-age=2419200, public"

<FilesMatch "\.js\.gz$">
AddEncoding x-gzip .gz
Header set Content-Encoding: gzip
Header set Vary "Accept-Encoding"
AddDefaultCharset UTF-8
ForceType text/javascript
Header always set "Cross-Origin-Resource-Policy" "same-site"
</FilesMatch>

<FilesMatch "\.js\.br$">
AddEncoding br .br
Header set Content-Encoding: br
Header set Vary "Accept-Encoding"
AddDefaultCharset UTF-8
ForceType text/javascript
Header always set "Cross-Origin-Resource-Policy" "same-site"
</FilesMatch>

<FilesMatch "\.css\.gz$">
AddEncoding x-gzip .gz
Header set Content-Encoding: gzip
Header set Vary "Accept-Encoding"
AddDefaultCharset UTF-8
ForceType text/css
Header always set "Cross-Origin-Resource-Policy" "same-site"
</FilesMatch>

<FilesMatch "\.css\.br$">
AddEncoding br .br
Header set Content-Encoding: br
Header set Vary "Accept-Encoding"
AddDefaultCharset UTF-8
ForceType text/css
Header always set "Cross-Origin-Resource-Policy" "same-site"
</FilesMatch>

<FilesMatch "\.css$">
Header set Vary "Accept-Encoding"
AddDefaultCharset UTF-8
ForceType text/css
Header always set "Cross-Origin-Resource-Policy" "same-site"
</FilesMatch>

<FilesMatch "\.html\.gz$">
AddEncoding x-gzip .gz
Header set Content-Encoding: gzip
ForceType text/html
</FilesMatch>

<FilesMatch "\.html\.br$">
AddEncoding br .br
Header set Content-Encoding: br
ForceType text/html
</FilesMatch>

<FilesMatch "\.html">
Header always set "Referrer-Policy" "no-referrer"
Header always set "Cross-Origin-Embedder-Policy" "require-corp"
Header set Link "<https://fonts.googleapis.com>; rel=preconnect, <https://fonts.gstatic.com>; rel=preconnect; crossorigin"
Header always set "X-UA-Compatible" "IE=edge"
Header always append X-Frame-Options DENY
Header set Vary "Accept-Encoding"
Header always set "Content-Security-Policy" "upgrade-insecure-requests; default-src 'none'; script-src 'self' 'sha256-I/2MSZRcaETmHpt/gbnZIuMGIKBisPLfPmteUx/WHdY=' https://www.googletagmanager.com https://www.google-analytics.com; style-src 'self' https://fonts.googleapis.com; connect-src 'self' https://www.google-analytics.com; img-src data: 'self' https://www.googletagmanager.com https://www.google-analytics.com; font-src data: https://fonts.gstatic.com; frame-src https://www.youtube-nocookie.com; form-action 'none'; base-uri 'none'; frame-ancestors 'none'"
Header always set "Speculation-Rules" "\"/prerender.json\""
AddDefaultCharset UTF-8
</FilesMatch>

<FilesMatch "\.ico\.gz$">
AddEncoding x-gzip .gz
Header set Content-Encoding: gzip
Header set Vary "Accept-Encoding"
Header set Cache-Control "max-age=604800,public"
ForceType image/x-icon
Header always set "Cross-Origin-Resource-Policy" "same-site"
</FilesMatch>

<FilesMatch "\.ico\.br$">
AddEncoding br .br
Header set Content-Encoding: br
Header set Vary "Accept-Encoding"
Header set Cache-Control "max-age=604800,public"
ForceType image/x-icon
Header always set "Cross-Origin-Resource-Policy" "same-site"
</FilesMatch>

<FilesMatch "prerender\.json$">
Header set Vary "Accept-Encoding"
Header set Cache-Control "max-age=604800,public"
ForceType application/speculationrules+json
Header always set "Cross-Origin-Resource-Policy" "same-site"
</FilesMatch>

Header always set "X-Content-Type-Options" "nosniff"
