/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
	display: block
}
html {
    --background-color: #fff;
    --nav-text-color: #000;
    --content-text-color: #fafff6;
    --secondary-text-color: rgba(0, 0, 0, .6);
}
body {
    pointer-events: none;
    background-color: var(--background-color);
}
button {
    cursor: pointer;
}
.fontsLoaded {
    font-family: 'Montserrat', sans-serif;
}
/* Clip text element */
@supports (background-clip: text) or (-webkit-background-clip: text) {
    .clip-text {
        line-height: .8;
        position: relative;
        display: inline-block;
        text-align: center;
        /* Color fallback */
        color: var(--content-text-color);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: -1rem;
        margin-top: 1rem;
        overflow: hidden;
    }
    .clip-text:before,
    .clip-text:after {
        position: absolute;
        content: ''
    }
    /* Background */
    .clip-text:before {
        z-index: -2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: inherit
    }
    /* Text Background (black zone) */
    .clip-text:after {
        position: absolute;
        z-index: -1;
        top: .125em;
        right: .125em;
        bottom: .125em;
        left: .125em;
    }
    @supports ( -moz-appearance:none ) {
        .clip-text {
            background-attachment: unset;
        }
    }
}
.body {
    pointer-events: none;
    min-width: 300px
}
.tile {
    padding: 1rem;
}
.title {
    font-variant: small-caps;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 4rem;
    margin-left: 3rem;
    overflow: hidden;
    position: absolute;
}
.fontsLoaded .title {
    font-family: 'Cinzel', serif;
}
.title > span {
    font-size: 5rem;
    display: block;
    color: var(--content-text-color);
    line-height: calc(1em - 16px);
    pointer-events: auto;
    overflow-y: hidden;
    width: 600px;
}
.content {
    margin-top: 9.5rem;
    margin-left: 4rem;
    color: var(--content-text-color);
    line-height: 1.55556;
    width: calc(600px - 1rem);
    height: 80rem;
    position: absolute;
    overflow: hidden;
    border-radius: 2px;
    font-weight: 800
}
.content:before,
.title:before {
    content: "";
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px; 
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.3);
    background: inherit;
    filter: blur(10px);
    width: 120%;
    height: 200%;
    opacity: .96;
}
.navHolder:before {
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.7);
}
.title:before {
    box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.7);
}
.content > main {
    pointer-events: auto;
    border-bottom: 0;
    padding: 1rem 1rem .5rem 1rem;
    position: absolute;
}
.content p + p {
    padding-top: 1em
}
.tagline {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif
}
.content > main,
h1 > span,
nav {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px
}

.content > main a {
    color: rgba(144, 202, 249, .87);
}
#and {
    fill: #fff;
}
#me {
    float: right;
}
.me {
    border-radius: 100px;
}
.insta-wrapper {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 1rem;
}
.insta-photo {
    border-radius: 2px;
    clip-path: polygon(0% 25%, 50% 25%, 50% 0%, 75% 25%, 100% 25%, 100% 100%, 0% 100%);
}
.grid {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column
}
.grid.background > div {
    position: relative;
    transition: .5s
}
.navOpener {
    display: none;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background: var(--background-color);
    color: var(--secondary-text-color);
}
footer > div {
    padding: 0 3rem;
}
.clip-text,
.content:before,
.title:before,
.navHolder:before,
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: var(--bgUrl);
    background-position: center;
}
.backgroundWrapper,
.grid.background,
.grid.background > div {
    background-image: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    background-size: inherit;
    background-position: inherit;
}
.grid.background > div > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s
}
.grid.background > .orange > div {
    background-color: rgba(255, 152, 0, .5)
}
.grid.background > .blue > div {
    background-color: rgba(111, 205, 223, .5)
}
.grid.background > .grey > div {
    background-color: rgba(153, 156, 194, .5)
}
.grid.background > .hide > div {
    background-color: var(--background-color);
}
.grid.background > .pattern > div {
    background-image: repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(255,255,255,.3) 2px, rgba(255,255,255,.3) 3px, transparent 3px, transparent 5px, rgba(255,255,255,.3) 5px)
}
.grid.background > .invert {
    filter: invert(100%)
}
.grid.background {
    grid-template-rows: repeat(var(--gridRows), 1fr);
    grid-template-columns: repeat(var(--gridRows), 1fr)
}
.grid.background.option2 {
    grid-gap: 2px
}
.grid.background.option2::before {
    background-color: var(--background-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.grid.background.option2 > div,
.grid.background.option2 > div > div {
    border-radius: .75rem
}
.backgroundWrapper {
    top: 0;
    position: fixed;
    z-index: -2;
    pointer-events: auto;
    height: calc(100% - 6rem);
    width: calc(100% - 6rem);
    border: solid var(--background-color);
    border-width: 3rem 3rem 0;
    overflow: hidden
}
.background {
    height: calc(100vmax - 6rem);
    width: 100%;
}
.navHolder {
    width: 100%;
    min-width: max-content;
    position: fixed;
    height: 3rem;
    overflow: hidden;
    background-color: var(--background-color);
    z-index: 2
}
.icons {
    pointer-events: auto;
    margin: auto;
    padding: 4px 1rem 2px;
    width: calc(100% - 2rem);
    height: calc(100% - 6px);
    display: flex;
    align-items: center;
    position: absolute;
}
.icons.tile {
    border-top-right-radius: unset;
}
.icons > ul {
    padding: 0;
    margin: 0
}
.icons > ul > li,
.icons > ul > li > div {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: .5rem
}
.icons .navLink {
    display: inline;
    vertical-align: super;
    font-variant: small-caps;
    padding-left: .5rem;
}
.icons .navLink > a {
    text-decoration: none;
    color: var(--nav-text-color);
}
.icons .navLink > a:hover {
    text-decoration: underline;
}
.changeColor {
    padding-right: 0;
    padding-left: .5rem;
}
.wordpress {
    border-right: 2px solid var(--nav-text-color);
    padding-right: 1rem
}
.wordpress > div {
    background: #21759b;
    padding: 1px;
    border-radius: 1rem
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.changeColor svg.rotate {
    animation: spin 600ms;
    transform: rotate(360deg)
}
.changeColor > button {
    border: 0;
    background: transparent;
    padding: 0;
}
.artContent > figure {
    width: calc(600px - 3rem);
    padding: 0;
    margin: 0;
    display: inline-block;
    border-bottom: 1px solid var(--content-text-color);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.artContent > figure img {
    width: calc(600px - 3rem);
    max-width: calc(100vw - 2em);
}
@media (max-width: 799px) {
    .body {
        margin: 1rem;
        margin: auto
    }
    .title {
        padding: 0
    }
    .content {
        padding: 0;
    }
    .content > main {
        border-radius: 4px
    }
    .icons.tile {
        border-radius: 4px
    }
    .icons > ul > li,
    .icons > ul > li > div {
        margin: 0;
    }
    .wordpress {
        padding-right: .25rem
    }
    .grid {
        display: none
    }
    .grid.background.option2::before {
        content: none;
    }
}
@media (max-width: 715px) {
    .navOpener {
        display: unset;
        background: var(--background-color);
        position: fixed;
        z-index: 2;
        width: 100%;
    }
    .navOpener > button {
        margin: 0 1.5rem;
        pointer-events: all;
        border: 0;
        background: transparent;
    }
    .navOpener > button > .bar1,
    .navOpener > button > .bar2,
    .navOpener > button > .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--nav-text-color);
        margin: 6px 0;
        transition: 0.4s;
        display: block;
    }
    .navOpener > button.open > .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .navOpener > button.open > .bar2 {
        opacity: 0;
    }
    .navOpener > button.open > .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .navHolder {
        top: 2.75rem;
        z-index: 100;
        height: unset;
        max-width: 0;
        max-height: 0;
        transition: max-height .5s cubic-bezier(0.23, 1, 0.32, 1), max-width .25s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .open.navHolder {
        max-width: 100%;
        max-height: 215px;
    }
    .icons {
        position: unset;
        padding: 2px 1.5rem 2px;
    }
    .icons .wordpress {
        border-right: unset;
        padding: unset;
    }
    .icons .navLink {
        width: 100%;
        display: block;
        padding-left: 0;
    }
    .icons .changeColor {
        margin: 0;
        padding: 0;
    }
    footer > div {
        padding: 0 1rem;
    }
    .backgroundWrapper {
        top: 0;
        position: fixed;
        z-index: -2;
        pointer-events: auto;
        height: calc(100% - 1rem);
        width: calc(100% - 1rem);
        border: .5rem solid var(--background-color);
        overflow: hidden
    }
    .title,
    .title > span,
    .content {
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .title {
        width: calc(100% - 1rem);
        margin-top: 2.75rem;
    }
    .content {
        margin-top: 6.5rem;
        width: calc(100% - 1rem);
        height: 93rem;
    }
    .content,
    .content > main {
        border-radius: 0;
    }
    .title > span {
        font-size: 4rem;
        line-height: calc(1em - 8px);
        width: unset;
    }
    .insta-photo {
        height: auto;
    }
    .artContent > figure img {
        height: auto;
    }
}
@media (max-width: 460px) {
    .title > span {
        font-size: 3rem;
        line-height: calc(1em + 3px)
    }
    .content > main,
    .title > span {
        border-radius: 0
    }
    .title,
    .title > span,
    .content {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .content > main {
        padding: .25rem;
        width: calc(100% - .5rem)
    }
    #me {
        float: none;
    }
    .me {
        margin-left: auto;
        margin-right: auto;
        display:block;
        width: 150px;
        height: 150px;
    }
    footer {
        font-size: .75rem;
    }
    .backgroundWrapper {
        height: 100%;
        width: 100%;
        border: unset;
    }
    .background {
        display: none
    }
    .grid.background > div {
        background-image: none
    }
}
@media (prefers-color-scheme: dark) {
    html {
        --background-color: #222;
        --nav-text-color: rgba(144, 202, 249, .87);
        --content-text-color: rgba(255, 255, 255, .87);
        --secondary-text-color: rgba(255, 255, 255, .6);
    }
    svg {
        fill: var(--nav-text-color);
    }
    .content:before {
        box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.7);
    }
    body::-webkit-scrollbar {
        background-color: #222;
        width: 1rem;
        border-left: 1px solid #333;
    }
    body::-webkit-scrollbar-thumb {
        background-color:#999;
        border-radius: 1rem;
        border: solid #111;
    }
    body::-webkit-scrollbar-thumb:hover {
        background-color: #bbb;
    }
    body {
        scrollbar-color: dark;
    }
}