/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
	display: block
}
html {
    --background-color: #ebebeb;
    --background-color2: #fff;
    --background-color3: rbga(255, 255, 255, .5);
    --blend-mode: screen;
    --nav-text-color: #000;
    --content-text-color: #fafff6;
    --secondary-text-color: rgba(0, 0, 0, .6);
    --title-color: #000;
}
body {
    pointer-events: none;
    color-scheme: light dark;
}
button {
    cursor: pointer;
}
.fontsLoaded {
    font-family: sans-serif;
}
.body {
    pointer-events: none;
    min-width: 300px;
}
.tile {
    padding: 1rem;
}
.title {
    width: calc(100% - 6rem);
    margin: 3rem 3rem 0;
    padding: 3rem 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: min(17vw, 30vh);
    font-optical-sizing: auto;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-color);
    line-height: .8;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: var(--background-color2);
    mix-blend-mode: var(--blend-mode);
    paint-order: stroke fill;
}
.fontsLoaded .title {
    font-family: "Roboto Condensed", serif;
}
.content {
    font-family: "Roboto", serif;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 4rem;
    color: var(--content-text-color);
    line-height: 1.55556;
    width: calc(600px - 1rem);
    overflow: hidden;
    border-top-left-radius: .5rem;
    font-weight: 800;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .6);
}
.navHolder:before {
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.7);
}
.content > main {
    pointer-events: auto;
    border-bottom: 0;
    padding: 1rem 1rem .5rem 1rem;
    position: relative;
}
.content p + p {
    padding-top: 1rem
}
.tagline {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
}

.content > main a {
    color: rgba(144, 202, 249, .87);
}
#and {
    fill: #fff;
}
#me {
    float: right;
    margin: calc(-1rem + 1px) calc(-1rem + 1px) 0 0;
    clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
    shape-outside: margin-box polygon(0% 0%, 100% 100%, 100% 0%);
}
.insta-wrapper {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 1rem;
}
.insta-photo {
    border-radius: 5px;
    clip-path: polygon(0% 25%, 50% 25%, 50% 0%, 75% 25%, 100% 25%, 100% 100%, 0% 100%);
}
.grid {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column
}
.grid.background > div {
    position: relative;
    transition: .5s
}
.navOpener {
    display: none;
}
footer {
    position: fixed;
    bottom: 0;
    padding: calc(1rem - 2px) 3rem;
    margin: 5px;
    color: var(--secondary-text-color);
}
.backgroundWrapper {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.grid.background,
.grid.background > div {
    background-image: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    background-size: inherit;
    background-position: inherit;
}
.grid.background > div > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s
}
.grid.background > .orange > div {
    background-color: rgba(255, 152, 0, .5)
}
.grid.background > .blue > div {
    background-color: rgba(111, 205, 223, .5)
}
.grid.background > .grey > div {
    background-color: rgba(153, 156, 194, .5)
}
.grid.background > .hide > div {
    background-color: var(--background-color);
}
.grid.background > .pattern > div {
    background-image: repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(255,255,255,.3) 2px, rgba(255,255,255,.3) 3px, transparent 3px, transparent 5px, rgba(255,255,255,.3) 5px)
}
.grid.background > .invert {
    filter: invert(100%)
}
.grid.background {
    grid-template-rows: repeat(var(--gridRows), 1fr);
    grid-template-columns: repeat(var(--gridRows), 1fr)
}
.grid.background.option2 {
    grid-gap: 2px
}
.grid.background.option2::before {
    background-color: var(--background-color);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.grid.background.option2 > div,
.grid.background.option2 > div > div {
    border-radius: .75rem
}
.grid.background.option3 > div > div {
    background-color: #000;
    transition: transform .3s linear .1s;
}
.grid.background.option3 > div > div.bottom {
    transform: scaleY(0);
    transform-origin: top;
}
.grid.background.option3 > div > div.top {
    transform: scaleY(0);
    transform-origin: bottom;
}
.grid.background.option3 > div > div.left {
    transform: scaleX(0);
    transform-origin: left;
}
.grid.background.option3 > div > div.right {
    transform: scaleX(0);
    transform-origin: right;
}
.backgroundWrapper {
    top: 0;
    position: fixed;
    z-index: -2;
    pointer-events: auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: var(--bgUrl);
}
.background {
    height: calc(100vmax - 6rem);
    width: 100%;
}
.navHolder {
    width: 100%;
    min-width: max-content;
    position: fixed;
    top: 0;
    height: 3rem;
    overflow: hidden;
    /*background-color: var(--background-color);*/
    z-index: 2
}
.icons {
    pointer-events: auto;
    margin: 5px;
    padding: 4px 1rem 2px;
    display: flex;
    align-items: center;
    position: absolute;
}
.icons > ul {
    padding: 0;
    margin: 0
}
.icons > ul > li,
.icons > ul > li > div {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: .5rem
}
.icons .navLink {
    display: inline;
    vertical-align: super;
    font-variant: small-caps;
    padding-left: .5rem;
}
.icons .navLink > a {
    text-decoration: none;
    color: var(--nav-text-color);
}
.icons .navLink > a:hover {
    text-decoration: underline;
}
.icons,
footer {
    backdrop-filter: blur(10px);
    background-color: var(--background-color3);
    border-radius: 5px;
}
.changeColor {
    padding-right: 0;
    padding-left: .5rem;
}
.wordpress {
    border-right: 2px solid var(--nav-text-color);
    padding-right: 1rem
}
.wordpress > div {
    background: #21759b;
    padding: 1px;
    border-radius: 1rem
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.changeColor svg.rotate {
    animation: spin 600ms;
    transform: rotate(360deg)
}
.changeColor > button {
    border: 0;
    background: transparent;
    padding: 0;
}
.content.art {
    width: calc(100% - 8rem);
}
.artContent {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    scroll-snap-type: x mandatory;
}
.artContent > a {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-bottom: 1rem;
    scroll-margin: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}
.artContent > a + a {
    padding-left: 1rem
}
.artContent img {
    max-height: calc(100vh - 18rem);
    width: auto
}
.content p + p {
    padding-top: 1rem
}
.photoB {
    position: fixed;
    display: inline-flex;
    margin-left: 1rem;
}
.photoB > button {
    margin-right: .5rem;
    border-radius: 0 0 .5rem .5rem;
    letter-spacing: 1px;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 2);
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    color: #000;
    border: 1px solid #666;
    border-top: none;
    opacity: 0;
    height: 0;
    display: inline-flex;
    align-items: end;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), 0px 7px 13px -3px rgba(0, 0, 0, 0.3), 0px -3px 0px rgba(0, 0, 0, 0.2) inset;
}
.hide {
    overflow: hidden;
}
.hide .title {
    transform: translateX(calc(-100% - 3rem));
}
.hide .navOpener,
.hide .navHolder {
    transform: translateY(-100%);
}
.hide .content {
    transform: translateY(100vh);
}
.hide footer {
    transform: translateY(calc(100% + 5px));
}
.hide .photoB {
    pointer-events: all;
}
@keyframes drop {
    0% {
        height: 0;
        padding: 0 .5rem;
    }
}
.hide .photoB > button {
    opacity: 100%;
    animation: .75s cubic-bezier(0.175, 0.885, 0.32, 2) 1s 1 drop backwards;
    height: 4rem;
    padding: .5rem;
}
.hide .photoB > button:hover,
.hide .photoB > button:focus {
    opacity: 100%;
    background: #fff;
}
.hide .photoB > button:hover {
    height: 4.5rem;
}
.hide .photoB > button:disabled {
    background-color: transparent;
    color: transparent;
}
.hide .photoB > button:disabled:hover {
    height: 4rem;
}
@media not prefers-reduced-motion {
    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-40px);
            opacity: 0
        }
    }
    .navHolder {
        animation: .5s ease-out 0s 1 slideInFromLeft backwards;
        transition: transform 1s;
    }
    .title,
    footer {
        transition: transform 1s;
    }
    .title > div {
        animation: 1s ease-out .5s 1 slideInFromLeft backwards;
    }
    .content {
        animation: .5s ease-out 1s 1 slideInFromLeft backwards;
        transition: transform 1s;
    }
}
@media (max-width: 799px) {
    .body {
        margin: 1rem;
        margin: auto
    }
    .title {
        padding: 0
    }
    .title > div {
        margin-top: 0;
    }
    .content {
        padding: 0 0 3rem 0;
    }
    .content > main,
    .title,
    .icons.tile {
        border-radius: 0
    }
    .icons > ul > li,
    .icons > ul > li > div {
        margin: 0;
    }
    .wordpress {
        padding-right: .25rem
    }
    .grid {
        display: none
    }
    .grid.background.option2::before {
        content: none;
    }
}
@media (max-width: 715px) {
    .navOpener {
        display: unset;
        background: var(--background-color);
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 2.75rem;
    }
    .navOpener > button {
        margin: 0 1.5rem;
        pointer-events: all;
        border: 0;
        background: transparent;
    }
    .navOpener > button > .bar1,
    .navOpener > button > .bar2,
    .navOpener > button > .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--nav-text-color);
        margin: 6px 0;
        transition: 0.4s;
        display: block;
    }
    .navOpener > button.open > .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .navOpener > button.open > .bar2 {
        opacity: 0;
    }
    .navOpener > button.open > .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .navHolder {
        top: 2.75rem;
        z-index: 100;
        height: unset;
        max-width: 0;
        max-height: 0;
        font-size: 2rem;
        transition: max-height .5s cubic-bezier(0.23, 1, 0.32, 1), max-width .25s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .open.navHolder {
        max-width: 100%;
        max-height: 100%;
    }
    .icons {
        position: unset;
        padding: 2px 1.5rem 2px;
        margin: 0;
    }
    .icons .wordpress {
        border-right: unset;
        padding: unset;
    }
    .icons .navLink {
        width: 100%;
        display: block;
        padding-left: 0;
    }
    .icons .changeColor {
        margin: 0;
        padding: 0;
    }
    .icons > ul > li {
        height: auto;
    }
    #🐍 {
        font-size: 1.5rem;
    }
    .backgroundWrapper {
        top: 0;
        position: fixed;
        z-index: -2;
        pointer-events: auto;
        height: calc(100% - 1rem);
        width: calc(100% - 1rem);
        border: .5rem solid var(--background-color);
        overflow: hidden
    }
    .title,
    .title > div,
    .content {
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .title {
        margin-top: 3.5rem;
    }
    .title,
    .content,
    .content.art {
        width: calc(100% - 1rem);
    }
    .content,
    .content > main {
        border-radius: 0;
    }
    .title > div {
        font-size: 4rem;
        width: unset;
    }
    .backgroundWrapper {
        margin: 0;
    }
    .insta-photo {
        height: auto;
    }
    .artContent img {
        height: auto;
    }
    .hide .navHolder {
        transform: translateY(calc(-100% - 2.75rem));
    }
}
@media (max-width: 460px) {
    .title {
        font-size: 3rem;
        padding-bottom: .5rem;
    }
    .title,
    .content {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .title > div {
        margin-bottom: -.6rem
    }
    .content > main {
        padding: .25rem;
        width: calc(100% - .5rem)
    }
    #me {
        clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
        shape-outside: polygon(0% 0%, 100% 100%, 100% 0%);
    }
    .me {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 200px;
        height: 200px;
    }
    footer {
        font-size: .75rem;
    }
    .backgroundWrapper {
        height: 100%;
        width: 100%;
        border: unset;
    }
    .background {
        display: none
    }
    .grid.background > div {
        background-image: none
    }
}
@media (max-width: 380px) {
    .me {
        border-radius: 7rem
    }
    #me {
        float: none;
        margin: auto;
        clip-path: none;
        shape-outside: unset;
    }
}
@media (prefers-color-scheme: dark) {
    html {
        --background-color: #222;
        --background-color2: #000;
        --background-color3: rgba(0, 0, 0, .5);
        --blend-mode: multiply;
        --nav-text-color: rgba(144, 202, 249, .87);
        --content-text-color: rgba(255, 255, 255, .87);
        --secondary-text-color: rgba(255, 255, 255, .6);
        --title-color: #fff;
    }
    svg {
        fill: var(--nav-text-color);
    }
    .content:before {
        box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.7);
    }
}